<div style="margin: 2rem auto 10rem;" class="container text-center">
  
  <div style="padding: 5rem 0 15rem;" class="row row-gap-5">
    <h2>Your Current Maximums</h2>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Bench Press</h5>
                <p class="card-text">Your current Bench Press maximum:</p>
                <h6 class="current-bench">0 lbs</h6>
                <button type="button" class="btn btn-secondary bench-btn">Calculate Max</button>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Squat</h5>
                <p class="card-text">Your current Squat maximum:</p>
                <h6 class="current-squat">0 lbs</h6>
                <button type="button" class="btn btn-secondary squat-btn">Calculate Max</button>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Deadlift</h5>
                <p class="card-text">Your current Deadlift maximum:</p>
                <h6 class="current-deadlift">0 lbs</h6>
                <button type="button" class="btn btn-secondary deadlift-btn">Calculate Max</button>
            </div>
        </div>
    </div>
  </div>
  <div style="padding: 0 0 15rem;" class="row row-gap-5">
    <h2>Community Maximums</h2>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Bench Press</h5>
                <p class="card-text"><span style="font-weight: bold; text-transform: uppercase;" class="top-bench-user">user</span> currently holds the highest one-rep maximum for bench!</p>
                <h6 class="top-bench">0 lbs</h6>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Squat</h5>
                <p class="card-text"><span style="font-weight: bold; text-transform: uppercase;" class="top-squat-user">user</span> currently holds the highest one-rep maximum for squats!</p>
                <h6 class="top-squat">0 lbs</h6>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
            <div class="card-body">
                <h5 class="card-title">Deadlift</h5>
                <p class="card-text"><span style="font-weight: bold; text-transform: uppercase;" class="top-deadlift-user">user</span> currently holds the highest one-rep maximum for deadlifts!</p>
                <h6 class="top-deadlift">0 lbs</h6>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="/js/home.js"></script>