    {{!-- MY MAXES --}}
    <div style="padding: 5rem 0 7.5rem; margin: 0 auto;" class="container text-center row row-gap-5">
        <h2 style="font-weight: bold;">MY CURRENT MAXIMUMS</h2>
        <p style="padding: 0 2rem; font-size: 1.25rem;">View current maximums for Bench Press, Squat, and Deadlift here. To calculate a new max and view your old personal records, select "Calculate New Max" on the corresponding exercise.</p>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">BENCH PRESS</h5>
                    <h6 style="font-size: 1.25rem;" class="current-bench">0 lbs</h6>
                    <button type="button" style="font-size: 1.25rem;" class="btn btn-secondary bench-btn">CALCULATE NEW MAX</button>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">SQUATS</h5>
                    <h6 style="font-size: 1.25rem;" class="current-squat">0 lbs</h6>
                    <button type="button" style="font-size: 1.25rem;" class="btn btn-secondary squat-btn">CALCULATE NEW MAX</button>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">DEADLIFTS</h5>
                    <h6 style="font-size: 1.25rem;" class="current-deadlift">0 lbs</h6>
                    <button type="button" style="font-size: 1.25rem;" class="btn btn-secondary deadlift-btn">CALCULATE NEW MAX</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- COMMUNITY MAXES --}}
    <div style="position: relative; padding: 5rem 0 7.5rem; margin: 0 auto;  background: black; color: white;" class="container text-center row row-gap-5">
        <div style="position: absolute; top: 0; bottom: 0; right: 100%; background: black; z-index: -1;"></div>
        <div style="position: absolute; top: 0; bottom: 0; left: 100%; background: black; z-index: -1;"></div>
        <h2 style="font-weight: bold;">COMMUNITY MAXIMUMS</h2>
        <p style="padding: 0 2rem; font-size: 1.25rem;">See how the community is doing! Here the record holder for the highest maximum is displayed.</p>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">BENCH PRESS</h5>
                    <p style="font-size: 1.25rem;" class="card-text"><span style="font-weight: bold; text-transform: uppercase;"
                            class="top-bench-user">user</span> currently holds the highest one-rep maximum for bench!
                    </p>
                    <h6 style="font-size: 1.25rem;" class="top-bench">0 lbs</h6>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">SQUATS</h5>
                    <p style="font-size: 1.25rem;" class="card-text"><span style="font-weight: bold; text-transform: uppercase;"
                            class="top-squat-user">user</span> currently holds the highest one-rep maximum for squats!
                    </p>
                    <h6 style="font-size: 1.25rem;" class="top-squat">0 lbs</h6>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 21rem;">
                <img src="/assets/placeholder.png" class="card-img-top" alt="..."></img>
                <div class="card-body">
                    <h5 style="font-size: 1.5rem; font-weight: bold;" class="card-title">DEADLIFTS</h5>
                    <p style="font-size: 1.25rem;" class="card-text"><span style="font-weight: bold; text-transform: uppercase;"
                            class="top-deadlift-user">user</span> currently holds the highest one-rep maximum for
                        deadlifts!</p>
                    <h6 style="font-size: 1.25rem;" class="top-deadlift">0 lbs</h6>
                </div>
            </div>
        </div>
    </div>
    {{!-- DISCOVER WORKOUTS --}}
    <div style="padding: 5rem 0 7.5rem; margin: 0 auto;" class="container text-center row row-gap-5">
        <h2 style="font-weight: bold;">WORKOUT PLANS</h2>
        <p style="padding: 0 2rem; font-size: 1.25rem;">Check out these workouts from <a style="color: black; font-weight: bold" href="https://www.muscleandstrength.com/" target="_blank">Muscle and Strength</a> to give you that boost towards your new personal record!</p>
        <div id="carouselExampleCaptions" class="carousel slide" style="padding: 1rem;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div style="position: absolute; background: black; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.4;">
                        <a style="position: absolute; top:0; bottom: 0; right: 0; left: 0;" href="https://www.muscleandstrength.com/workouts/5-day-dumbbell-only-workout-split" target="_blank"></a>
                    </div>
                    <img src="/assets/5-day-plan.webp" class="d-block w-100" alt="exercise shoulder press">
                    <div class="carousel-caption d-md-block">
                        <h5 class="carousel-title" style="position: relative;  font-size: 1.5rem;">5-DAY Dumbbell Workout Split</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="position: absolute; background: black; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.6;">
                        <a style="position: absolute; top:0; bottom: 0; right: 0; left: 0;" href="https://www.muscleandstrength.com/workouts/muscle-and-strength-womens-workout" target="_blank"></a>
                    </div>
                    <img src="/assets/12-week-plan.webp" class="d-block w-100" alt="drinking water">
                    <div class="carousel-caption d-md-block">
                        <h5 class="carousel-title" style="position: relative;  padding: 0; font-size: 1.5rem; z-index: 3;">12 Week Workout</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="position: absolute; background: black; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.6;">
                        <a style="position: absolute; top:0; bottom: 0; right: 0; left: 0;" href="https://www.muscleandstrength.com/workouts/jason-blaha-ice-cream-fitness-5x5-novice-workout" target="_blank"></a>
                    </div>
                    <img src="/assets/jason-blaha.webp" class="d-block w-100" alt="exercise squat">
                    <div class="carousel-caption d-md-block">
                        <h5 class="carousel-title" style="position: relative;  font-size: 1.5rem; z-index: 3;">Jason Blaha's 5x5 Novice Program</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="position: absolute; background: black; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.6;">
                        <a style="position: absolute; top:0; bottom: 0; right: 0; left: 0;" href="https://www.muscleandstrength.com/workouts/20-minute-hiit-workout" target="_blank"></a>
                    </div>
                    <img src="/assets/hit-workout.jpg" class="d-block w-100" alt="exercise lunge">
                    <div class="carousel-caption d-md-block">
                        <h5 class="carousel-title" style="position: relative; font-size: 1.5rem; z-index: 3;">20 Minute HIIT Workout</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="position: absolute; background: black; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.6;">
                        <a style="position: absolute; top:0; bottom: 0; right: 0; left: 0;" href="https://www.muscleandstrength.com/workouts/8-week-spring-shred-program" target="_blank"></a>
                    </div>
                    <img src="/assets/spring-shred.webp" class="d-block w-100" alt="exercise shoulder press">
                    <div class="carousel-caption d-md-block">
                        <h5 class="carousel-title" style="position: relative; font-size: 1.5rem; z-index: 3;">8 Week - Spring Shred</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    {{!-- CREATE WORKOUTS --}}
    <div style="position: relative; padding: 5rem 0 15rem; margin: 0 auto;  background: black; color: white;" class="container text-center row">
        <div style="position: absolute; top: 0; bottom: 0; right: 100%; background: black; z-index: -1;"></div>
        <div style="position: absolute; top: 0; bottom: 0; left: 100%; background: black; z-index: -1;"></div>
        <h2 style="font-weight: bold; padding-bottom: 2rem;">MAKE YOUR OWN WORKOUT</h2>
        <p style=" font-size: 1.25rem;">CORE uses API Ninjas' Exercises API to quickly find exercises by muscle group and form a new workout!</p>
        <div>
            <button style="font-size: 1.25rem;" type="button" class="btn btn-secondary w-25">CREATE WORKOUT</button>
        </div>
    </div>  
<script src="/js/home.js"></script>