<div style="padding-top: 5rem;" class="container text-center w-75">
    <h1 style="font-weight: bold;">SIGN UP</h1>
    <p style="text-align: center; padding: 2rem; font-size: 1.25rem;" class="mb-3">Create an account to record and view your one rep maximums through your lifting journey!</p>
    <div style="text-align: left;">
        <div  class="mb-3">
            <label style="font-size: 1.25rem;" for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email"></textarea>
        </div>
        <div  class="mb-3">
            <label style="font-size: 1.25rem;" for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name">
        </div>
        <div  class="mb-3">
            <label style="font-size: 1.25rem;" for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name"></textarea>
        </div>
        <div  class="mb-3">
            <label style="font-size: 1.25rem;" for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div  class="mb-3">
            <label style="font-size: 1.25rem;" for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password"></textarea>
        </div>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <button style="font-size: 1.25rem;" type="button" class="btn btn-secondary return-btn mb-4">Back to Login</button>
        <button style="font-size: 1.25rem; margin-left: 1.5rem;" type="button" class="btn btn-secondary submit-btn mb-4">Submit</button>
    </div>
</div>
<script src="/js/signup.js"></script>