<div style="padding: 5rem 0 7.5rem;" class="container text-center w-75">
    <h1 style="font-weight: bold;" class="mt-5">MY WORKOUTS</h1>
    <div style="padding-top: 2rem; display: grid; grid-template-rows: 1fr; grid-template-columns: repeat(5, 1fr); margin-bottom: 2rem;">
        <div style="grid-row: 1; grid-column: 1;" class="container">
            <input type="text" class="form-control" id="name">
        </div>
        <div style="grid-row: 1; grid-column: 2;" class="container">
            <div id="type" class="dropdown-center">
                <button style="font-size: 1.25rem;" class="btn btn-secondary dropdown-toggle type-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    EXERCISE TYPE
                </button>
                <ul class="dropdown-menu">
                    <li style="cursor: pointer;" class="dropdown-item type">CARDIO</li>
                    <li style="cursor: pointer;" class="dropdown-item type">OLYMPIC_WEIGHTLIFTING</li>
                    <li style="cursor: pointer;" class="dropdown-item type">PLYOMETRICS</li>
                    <li style="cursor: pointer;" class="dropdown-item type">POWERLIFTING</li>
                    <li style="cursor: pointer;" class="dropdown-item type">STRENGTH</li>
                    <li style="cursor: pointer;" class="dropdown-item type">STRETCHING</li>
                    <li style="cursor: pointer;" class="dropdown-item type">STRONGMAN</li>
                </ul>
            </div>
        </div>
        <div style="grid-row: 1; grid-column: 3;" class="container">
            <div id="type" class="dropdown-center">
                <button style="font-size: 1.25rem;" class="btn btn-secondary dropdown-toggle muscle-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    MUSCLE
                </button>
                <ul class="dropdown-menu">
                    <li style="cursor: pointer;" class="dropdown-item muscle">ABDOMINALS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">ABDUCTORS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">ADDUCTORS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">BICEPS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">CALVES</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">CHEST</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">FOREARMS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">GLUTES</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">HAMSTRINGS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">LATS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">LOWER_BACK</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">MIDDLE_BACK</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">NECK</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">QUADRICEPS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">TRAPS</li>
                    <li style="cursor: pointer;" class="dropdown-item muscle">TRICEPS</li>
                </ul>
            </div>
        </div>
        <div style="grid-row: 1; grid-column: 4;" class="container">
            <div id="type" class="dropdown-center">
                <button style="font-size: 1.25rem;" class="btn btn-secondary dropdown-toggle difficulty-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    DIFFICULTY
                </button>
                <ul class="dropdown-menu">
                    <li style="cursor: pointer;" class="dropdown-item difficulty">BEGINNER</li>
                    <li style="cursor: pointer;" class="dropdown-item difficulty">INTERMEDIATE</li>
                    <li style="cursor: pointer;" class="dropdown-item difficulty">EXPERT</li>
                </ul>
            </div>
        </div>
        <div style="grid-row: 1; grid-column: 5;" class="container">
            <button style="font-size: 1.25rem;" type="button" class="btn btn-secondary mb-5 search-btn">SEARCH</button>
        </div>
    </div>
</div>
<script src="/js/workout.js"></script>

{{!-- name, type, muscle, difficulty --}}