:root{
    --footer-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    --footer-filter-hover: invert(89%) sepia(0%) saturate(1%) hue-rotate(189deg) brightness(90%) contrast(85%);
}

* {
    font-family: 'Roboto', sans-serif;
}

.carousel-link:hover {
    border-color: black !important;
}

.footer-img {
    filter: var(--footer-filter);
    transition: filter 400ms;
}

.footer-img:hover {
    filter: var(--footer-filter-hover);
}

@media screen and (max-width: 50rem){
    .workout-grid {
        grid-template-columns: 100% !important;
        grid-template-rows: 40rem 1fr;
    }

    .filters {
        grid-column: 1 / span 1;
        grid-row: 1/ span 1;
    }
    
    .filters-container {
        position: relative !important;
        margin: 0 0.5rem !important;
    }

    .results-container {
        grid-column: 1 /span 1 !important;
        grid-row: 2 / span 1;
    }
}

@media screen and (max-width: 31.25rem) {
    .carousel-title {
        font-size: 1rem !important;
    }
}